# ----------------------------------
# BUILD DO MÓDULO
# ----------------------------------
/build

# ----------------------------------
# KEYSTORES & SIGNING
# ----------------------------------
*.jks
*.keystore
*.p12
*.pfx
keystore.properties

# ----------------------------------
# OUTPUTS DE BUILD
# ----------------------------------
*.apk
*.aab

# ----------------------------------
# GERADO PELO ROOM / KAPT / KSP
# ----------------------------------
/src/main/java/**/generated/
